/* Base Code */
/* Importing our google font */
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 125%;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
h1 {
    margin-top: 150px;
    font-family: 'Kalam', cursive;
    font-size: 6rem;
    color: white;
}

p {
    font-family: 'Kalam', cursive;
    font-weight: bold;
}

label {
    color: white;
    font-size: 2rem;
}
/* Books Classes */
.jokesContainer {
    display: flex;
    padding: 0;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
.joke {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(138, 138, 138);
    background-image: url(../assets/notepadfaded.jpg);
}

.jokeAndRating {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rating {
    margin-top: 30px;
}

/* Button Classes */
.joke button {
    align-items: flex-end;
}
.button {
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    
}
.button.remove {
    color: white;
    background: rgb(201, 26, 26);
    /* height: 70%; */
    
}
.button.submit {
    color: white;
    background: darkblue;
    /* font-size: 3rem; */
}
/* Input Form Classes */
.inputFormContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px 20px;
}
.inputFormContainer label {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}
.inputFormContainer input {
    border: 1px solid rgb(138, 138, 138);
    margin: 10px 0;
    width: calc(100% - 40px);
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
}

body {
background : url(../assets/comedyBackground.jpeg);
}
